@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply select-none pointer-events-none
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.fade-in {
  animation: fadeIn 500ms 500ms ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-slide-in {
  animation: fadeSlideIn 500ms 500ms ease-in-out;
  animation-fill-mode: both;
}

.fade-slide-in>* {
  animation: fadeSlideIn 500ms 700ms ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20%)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

button,
a {
  cursor: none !important;
}

